{% extends 'parking_app/base.html' %}

{% block content %}
<h1>Промокоды и купоны</h1>

<table border="1" style="width:100%; border-collapse:collapse;" bordercolor="black">
    <caption>Список промокодов</caption>
    <thead>
        <tr>
            <th id="col-num" rowspan="2">№</th>
            <th id="col-code" rowspan="2">Код</th>
            <th id="col-discount" rowspan="2">Скидка</th>
            <th id="col-period" colspan="2">Период действия</th>
            <th id="col-status" rowspan="2">Статус</th>
        </tr>
        <tr>
            <th id="col-from">С</th>
            <th id="col-to">По</th>
        </tr>
    </thead>
    <tbody>
        {% for promo in active %}
            <tr>
                <td headers="col-num">{{ forloop.counter }}</td>
                <td headers="col-code"><strong>{{ promo.code }}</strong></td>
                <td headers="col-discount">{{ promo.discount_percent }}%</td>
                <td headers="col-from">{{ promo.valid_from|date:'d/m/Y' }}</td>
                <td headers="col-to">{{ promo.valid_to|date:'d/m/Y' }}</td>
                <td headers="col-status" style="color:green;">✅ Действует</td>
            </tr>
        {% endfor %}
        {% for promo in archived %}
            <tr>
                <td headers="col-num">{{ forloop.counter|add:active.count }}</td>
                <td headers="col-code"><s>{{ promo.code }}</s></td>
                <td headers="col-discount">{{ promo.discount_percent }}%</td>
                <td headers="col-from">{{ promo.valid_from|date:'d/m/Y' }}</td>
                <td headers="col-to">{{ promo.valid_to|date:'d/m/Y' }}</td>
                <td headers="col-status" style="color:gray;">📦 Архив</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6" headers="col-num col-code col-discount col-period col-status">
                Всего промокодов: {{ active.count|add:archived.count }}
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}