{% extends 'parking_app/base.html' %}

{% block content %}
<h1>Отзывы</h1>

<a href="{% url 'add_review' %}" class="btn">Добавить отзыв</a>

{% for review in reviews %}
    <div class="card">
        <p><strong>{{ review.author_name }}</strong> ({{ review.rating }}/5)</p>
        <p>{{ review.text }}</p>
        <p><small>{{ review.created_at|date:"d/m/Y" }}</small></p>
        
        {% if user == review.user or user.is_superuser %}
            <a href="{% url 'edit_review' review.id %}">Редактировать</a>
            <a href="{% url 'delete_review' review.id %}" onclick="return confirm('Удалить?')">Удалить?</a>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}